<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <h2 class="details-title">Here is your post in details</h2>
    <div class="post-details">
        <p class="post-id">Post id: <%= post.id %>
        </p>
        <h3 class="post-username-details">@<%= post.username %>
        </h3>
        <p class="post-content-details">
            <%= post.content %>
        </p>
    </div>
</body>

</html>